nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  button.navbar-toggler(
    type='button',
    data-toggle='collapse',
    data-target='#navbarTogglerDemo01',
    aria-controls='navbarTogglerDemo01',
    aria-expanded='false',
    aria-label='Toggle navigation'
  ): span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarTogglerDemo01
    a.navbar-brand(href='#') #{title}
    ul.navbar-nav.mr-auto.mt-2.mt-lg-0
      li.nav-item.active
        a.nav-link(href='/')
          | Home
          span.sr-only (current)
      if !user
        li.nav-item.active
          a.nav-link(href='/register')
            | Register
            span.sr-only (current)

        li.nav-item.active
          a.nav-link(href='/login')
            | Login
            span.sr-only (current)

      if user
        li.nav-item.active
          a.nav-link(href='/logout')
            | Logout
            span.sr-only (current)

      li.nav-item
        a.nav-link(href='#') Link
      li.nav-item
        a.nav-link.disabled(href='#' tabindex='-1' aria-disabled='true') Disabled
    form.form-inline.my-2.my-lg-0
      input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
      button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
