<!doctype html>
<html lang="en">
<%- include('includes/head'); %>
<body>
  <%- include('includes/nav'); %>
  <h1>Hello, world!</h1>
  <% if (message.type) { %>
    <div class="alert alert-<%= message.type === 'success' ? 'success' : 'danger' %>" role="alert">
      <%= message.body %>
    </div>
  <% } %>
  <%- include('includes/footer'); %>
</body>
</html>
