extends ../master/panel/layout
block content
  .content-header: .container-fluid: .row.mb-2
    .col-sm-6: h1.m-0.text-dark Category List
    .col-sm-6: ol.breadcrumb.float-sm-right
      li.breadcrumb-item: a(href="/dashboard") Home
      li.breadcrumb-item.active Category

  .content: .container-fluid#app: .card
    .card-header
      h3.card-title Categories
    .card-body
      loading(
        color="#007BFF"
        :height="128"
        :width="128"
        :active='isLoading'
        :is-full-page='true'
      )
      .row
        .col-sm-6.col-md-6: .form-group
          label(for='page_size') Page Size
          select#page_size.custom-select(v-model="pageSize")
            option 10
            option 25
            option 50
            option 100
            option 500

        .col-sm-6.col-md-6: .form-group
          label(for='keyword') Search
          input#search.form-control(v-model="keyword" type='text' placeholder='Search...')

      .card(v-for="(category, index) in categories" :key="category._id").d-md-none
        .card-header: h3.card-title {{ category.name }}
        .card-body
          dl.row
            dt.col-sm-4 Category Name
            dd.col-sm-8 {{ category.name }}
            dt.col-sm-4 Category Name
            dd.col-sm-8 {{ category.name }}
            dt.col-sm-4 Category Name
            dd.col-sm-8 {{ category.name }}
            dt.col-sm-4 Category Name
            dd.col-sm-8 {{ category.name }}
        .card-footer
          button.btn.btn-danger(@click="destroy(category._id)") Delete
          a.btn.btn-secondary.mx-1(href="/category/create") Edit

      table.table.table-bordered.d-none.d-md-table
        thead
          tr
            th(style='width: 10px') #
            th Name
            th Name
            th Name
            th Name
            th Name
            th Name
            th Name
            th Actions
        tbody
          tr(v-for="(category, index) in categories" :key="category._id")
            td {{ getSerial(index) }}
            td {{ category.name }}
            td {{ category.name }}
            td {{ category.name }}
            td {{ category.name }}
            td {{ category.name }}
            td {{ category.name }}
            td {{ category.name }}
            td
              button.btn.btn-danger(@click="destroy(category._id)") Delete
              a.btn.btn-secondary.mx-1(href="/category/create") Edit

    .card-footer.d-flex.justify-content-center
      paginate(
        :page-count='pagination.totalPages'
        :click-handler='getCategories'
        prev-text='«'
        next-text='»'
        container-class="pagination"
        page-class="page-item"
        prev-class="page-item"
        next-class="page-item"
        page-link-class="page-link"
        prev-link-class="page-link"
        next-link-class="page-link"
      )

block body_js_after
  script(src=assetUrl + "/js/admin/category_list.js")

block body_js_before_inline
  script
    | var categories = !{JSON.stringify(categories)};
    | var meta = !{JSON.stringify(meta)};
