doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title #{title}
    block head_css_before
    link(rel="stylesheet" href=assetUrl + "/panel/plugins/fontawesome-free/css/all.min.css")
    link(rel="stylesheet" href=assetUrl + "/panel/dist/css/adminlte.min.css")
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet")
    link(href='https://cdn.jsdelivr.net/npm/vue-loading-overlay@3/dist/vue-loading.css' rel='stylesheet')
    block head_css_after
    block head_js

  body.hold-transition.sidebar-mini
    .wrapper
      include ./partials/topnav.pug
      include ./partials/sidenav.pug
      include ./partials/aside.pug

      .content-wrapper: block content

      include ./partials/footer.pug

    block body_js_before
    block body_js_before_inline
    script(src=assetUrl + "/panel/plugins/jquery/jquery.min.js")
    script(src=assetUrl + "/panel/plugins/bootstrap/js/bootstrap.bundle.min.js")
    script(src=assetUrl + "/panel/dist/js/adminlte.min.js")
    script(src=assetUrl + "/panel/dist/js/demo.js")
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
    script(src='https://cdn.jsdelivr.net/npm/sweetalert2@9')
    script(src='https://unpkg.com/vuejs-paginate@latest')
    script(src='https://cdn.jsdelivr.net/npm/vue-loading-overlay@3')
    block body_js_after
    block body_js_after_inline
